# COMDARE CI - Zentrale Template-Referenz v5.5.0
# Aenderungen NUR in comdare/infrastructure/ci-templates vornehmen!
include:
  - project: 'comdare/infrastructure/ci-templates'
    ref: main
    file: '.gitlab-ci.yml'
